{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Pretty blog{% endblock %}

{% block content %}
    <h1>Hello Pretty blog!</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
</style>
{% endblock %}
