<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#md-source" role="tab">MD source</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#md-to-html" role="tab">HTML result</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="md-source" role="tabpanel">
        {{ element|raw }}
    </div>
    <div class="tab-pane" id="md-to-html" role="tabpanel">HTML result</div>
</div>

<script>

</script>
